# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
packages
_17NSJ.Shared/bin
_17NSJ.Shared/obj
_17NSJ.Droid/bin
_17NSJ.Droid/obj
_17NSJ.iOS/bin
_17NSJ.iOS/obj
_17NSJ.UITests/bin
_17NSJ.UITests/obj
_17NSJ.Shared/Constants/SecretConstants.cs
_17NSJ.iOS/Resources/special_bp.png
_17NSJ.Droid/Resources/drawable/special_bp.png
_17NSJ.iOS/Resources/special_sg.png
_17NSJ.iOS/Resources/special_100.jpg
_17NSJ.iOS/Resources/special_mt.png
_17NSJ.Droid/Resources/drawable/special_100.jpg
_17NSJ.Droid/Resources/drawable/special_sg.png
_17NSJ.Droid/Resources/drawable/special_mt.png
.vs/
