# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
packages
_17NSJ.Shared/bin
_17NSJ.Shared/obj
_17NSJ.Droid/bin
_17NSJ.Droid/obj
_17NSJ.iOS/bin
_17NSJ.iOS/obj
_17NSJ.UITests/bin
_17NSJ.UITests/obj
_17NSJ.Shared/Constants/SecretConstants.cs
_17NSJ.iOS/Resources/special_bp.png
_17NSJ.Droid/Resources/drawable/special_bp.png
_17NSJ.iOS/Resources/special_sg.png
_17NSJ.iOS/Resources/special_100.jpg
_17NSJ.iOS/Resources/special_mt.png
_17NSJ.Droid/Resources/drawable/special_100.jpg
_17NSJ.Droid/Resources/drawable/special_sg.png
_17NSJ.Droid/Resources/drawable/special_mt.png
.vs/

sponsor_canon.png
sponsor_gogocurry.png
sponsor_yakult.png

_17NSJ.iOS/Resources/sponsor_yakult@3x.png
_17NSJ.iOS/Resources/sponsor_yakult@2x.png
_17NSJ.iOS/Resources/sponsor_yakult.png
_17NSJ.iOS/Resources/sponsor_sony@3x.png
_17NSJ.iOS/Resources/sponsor_sony@2x.png
_17NSJ.iOS/Resources/sponsor_sony.png
_17NSJ.iOS/Resources/sponsor_icom@3x.png
_17NSJ.iOS/Resources/sponsor_icom@2x.png
_17NSJ.iOS/Resources/sponsor_icom.png
_17NSJ.iOS/Resources/sponsor_iap@3x.png
_17NSJ.iOS/Resources/sponsor_iap@2x.png
_17NSJ.iOS/Resources/sponsor_iap.png
_17NSJ.iOS/Resources/sponsor_hokuriku_cocacola@3x.png
_17NSJ.iOS/Resources/sponsor_hokuriku_cocacola@2x.png
_17NSJ.iOS/Resources/sponsor_hokuriku_cocacola.png
_17NSJ.iOS/Resources/sponsor_gogocurry@3x.png
_17NSJ.iOS/Resources/sponsor_gogocurry@2x.png
_17NSJ.iOS/Resources/sponsor_gogocurry.png
_17NSJ.iOS/Resources/sponsor_cisco@3x.png
_17NSJ.iOS/Resources/sponsor_cisco@2x.png
_17NSJ.iOS/Resources/sponsor_cisco.png
_17NSJ.iOS/Resources/sponsor_canon@3x.png
_17NSJ.iOS/Resources/sponsor_canon@2x.png
_17NSJ.iOS/Resources/sponsor_canon.png
_17NSJ.Droid/Resources/drawable/sponsor_yakult.png
_17NSJ.Droid/Resources/drawable/sponsor_sony.png
_17NSJ.Droid/Resources/drawable/sponsor_icom.png
_17NSJ.Droid/Resources/drawable/sponsor_iap.png
_17NSJ.Droid/Resources/drawable/sponsor_hokuriku_cocacola.png
_17NSJ.Droid/Resources/drawable/sponsor_gogocurry.png
_17NSJ.Droid/Resources/drawable/sponsor_cisco.png
_17NSJ.Droid/Resources/drawable/sponsor_canon.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_yakult.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_sony.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_icom.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_iap.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_hokuriku_cocacola.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_gogocurry.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_cisco.png
_17NSJ.Droid/Resources/drawable-xhdpi/sponsor_canon.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_yakult.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_sony.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_icom.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_iap.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_hokuriku_cocacola.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_gogocurry.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_cisco.png
_17NSJ.Droid/Resources/drawable-hdpi/sponsor_canon.png
_17NSJ.iOS/Resources/shop_daiichi.png
_17NSJ.iOS/Resources/shop_daiichi@2x.png
_17NSJ.iOS/Resources/shop_daiichi@3x.png
_17NSJ.iOS/Resources/shop_gogocurry.png
_17NSJ.iOS/Resources/shop_gogocurry@2x.png
_17NSJ.iOS/Resources/shop_gogocurry@3x.png
_17NSJ.iOS/Resources/shop_hokuriku_cocacola.png
_17NSJ.iOS/Resources/shop_hokuriku_cocacola@2x.png
_17NSJ.iOS/Resources/shop_hokuriku_cocacola@3x.png
_17NSJ.iOS/Resources/shop_iap.png
_17NSJ.iOS/Resources/shop_iap@2x.png
_17NSJ.iOS/Resources/shop_iap@3x.png
_17NSJ.iOS/Resources/shop_postoffice.png
_17NSJ.iOS/Resources/shop_postoffice@2x.png
_17NSJ.iOS/Resources/shop_postoffice@3x.png
_17NSJ.iOS/Resources/shop_yakult.png
_17NSJ.iOS/Resources/shop_yakult@2x.png
_17NSJ.iOS/Resources/shop_yakult@3x.png
